.projects {
  background-color: $color-secondary;
  &__item {
    padding: 15px;
    border-radius: 5px;
    background-color: $color-tertiary;
    img {
      border-radius: 5px;
    }
    &__content {
      margin-top: 20px;
    }
  }
}
